<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <style>
            pre {
                font-size: 13pt;
            }
        </style>
    </head>
    <body>
        <pre>
        WebSockets API

        Events:
            <hr>
            name: 'reserve-item',
            body:
                {
                    itemId: '2022-10-10/13:00',
                }
            <hr>
            name: 'create-event',
            body:
                {
                    title: 'First event',
                    description: 'WELCOME!',
                    color: 'blue',
                }
            <hr>
            name: 'delete-event',
            body:
                {
                    eventId: '8d9ed285-8797-4879-bb5e-1111c8ffb623',
                }
            <hr>
            name: 'get-events',
            body:
                {}

        </pre>
    </body>
</html>
