<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset email</title>
    <style>
        body { font-family: Arial, Helvetica, sans-serif; }#link { width:
        150px; text-align: center; padding: 10px 15px; background-color:
        rgb(137, 153, 255); border-radius: 10px; color: white; font-size: 13pt;
        margin: auto; margin-top: 30px; margin-bottom: 30px; } a {
        text-decoration: none; }
    </style>
</head>
<body>
    <h2>Someone tries to reset your password, confirm if it is you</h2>
    <a href='{{resetLink}}'><h3 id='link'>Confirm</h3></a>
    <p>If it wasn't you, just ignore the email</p>
</body>